.subheader {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: linear-gradient(93.67deg, #0064FC 1.23%, #0033AA 58.64%);
    position: relative;
    border-radius: 10px;
  }

  .subheader h2 {
    margin-top: 10px;
  }
  
  .subheader-left {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start, center; 
    padding-left: 50px; 
  }
  
  
  .subheader-image {
    height: -0.4px;
    transform: scale(0.7, 0.81);
    margin-right: 30px;
  }

  .features-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; // Adjust this value to your desired gap
    margin-bottom: 20px;
}


.rectangle-box {
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    width: 300px;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .feature-icon {
        width: 40px;
        margin-right: 80px;
    }

    .text-section {
        margin-left: 60px;
        margin-bottom: 5px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .title {
            font-size: 16px;
            color: #666;
            margin-bottom: 5px;
        }

        .amount {
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.buttons-section {
    display: flex;
    align-items: center;

    // Common styles for all buttons
    button {
        padding: 10px 20px;
        margin-right: 20px;
        border-radius: 5px;

        color: white;
        transition: background-color 0.3s ease;
        
        &:hover {
            background-color: darken($color: #0064FC, $amount: 10%); 
        }
    }

    // New Request Button
    .new-request-btn {
        background:#3B82F6;
        ;
        
        mat-icon {
            margin-right: 5px;
        }
    }

    .filter-btn {
        background-color: #f5f5f5; 
        color: #0064FC;
        border: 1px solid #0064FC; 
        padding: 10px 10px;
    
        .flex-container {
            display: flex;
            justify-content: space-between; 
            align-items: center;
            width: 100%; 
            padding: 6px 12px; 
        }
    
        mat-icon {
            margin: 5px; 
        }
    
        &:hover {
            background-color: #e0e0e0; 
        }
    }
    



    // Export Button
    .export-btn {
        color: #0064FC;
        background-color: #DBEAFE;    
        padding: 10px 10px;
        border: none;

        .flex-container {
            display: flex;
            justify-content: space-between; 
            align-items: center;
            width: 100%; 
            padding: 6px 12px; 
        }
    
        mat-icon {
            margin: 5px; 
        }
    
        &:hover {
            background-color: #e0e0e0; 
        }
    }
}


//Styling the dropdown menu items
.mat-menu-panel {
    margin-top: 35px;
    padding: 10px 20px;
    width: 200px; 

    h3 {
        background-color: #616161;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }

    button[mat-menu-item] {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        gap: 5px; 
        background-color: #000000;
        color: white;
        font-size: 1rem;

        .mat-checkbox {
            margin-bottom: 5px;

            .mat-checkbox-frame {
                border-color: grey;
            }

            .mat-checkbox-background {
                background-color: grey;
            }
        }
    }
}



        .custom-search-bar {
            width: 420px;
            height: 36px; 
            margin-right: 40px;
            border: 1px solid #ccc; 
            border-radius: 5px; 
            display: flex;
            align-items: center;
            padding: 0 10px; 
            transition: box-shadow 0.3s ease;
        
            &:hover {
                box-shadow: 0 0 10px #0064FC; 
            }
        
            input[type="text"] {
                flex-grow: 1; 
                border: none; 
                outline: none; 
                font-size: 16px; 
                padding: 5px 0; 
            }
        }
        

    