.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-bar .back-btn-wrapper {
    margin-top: 10px;
    margin-left: 30px;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.back-btn-wrapper .back-btn {
    border-radius: 999px;
    border: 1px solid #BFDCFC;
    background: #FFF;
    display: inline-flex;
    height: 2.5rem;
    padding: 0rem 0.75rem;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.back-btn-wrapper span {
    color: #1A314D;
    font-size: 1.1rem;
}

.custom-card {
    margin: auto;
    margin-top: 100px;
    width: 600px;
    height: fit-content;
    display: block;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.mat-card-title {
    font-size: 15px;
    margin-bottom: 10px;
}

.form-content {
    padding-bottom: 10px;
}

.acc-name {
    width: 570px;
}

.acc-input {
    width: 570px;
}


.form1-button {
    padding: 10px;
    margin-left: 520px;
    text-align: center;
}

.form-hint {
    color: #00AF43;
}

mat-form-field {
    margin-bottom: 5px;
}

.role-of-employee {
    margin-left: 16px;
    margin-right: 8px;
    width: 270px;
}



