.sidelinks-wrapper {
    border-right: 0.5px solid rgba(26, 49, 77, 0.11);
    box-shadow: 5px 1 8px rgba(0, 0, 0, 0.1); 
    width: 180px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: calc(100vh - 100px);

    .sidelink-div {
        a {
            font-weight: 400; 
            font-size: 1em;  
            transition: color 0.3s;

            &:hover {
                color:#0062E1;
            }
        }
    }

    .charge-request h2 {
        color:#0062E1;
    }

    mat-icon {
        margin-right: 10px;
        vertical-align: middle;
        font-size: 22px; 
        color: #1A314D;
        transition: color 0.3s;

        &:hover {
            color:#0062E1;
        }
    }

    mat-divider {
        width: 100%;
        margin: 8px 0;
    }
}
