:host{
  width: 100%;
  height: 100%;
}

.main-login-container{
  display: flex;
  width: 100%;
  height: 100%;
}

.main-login-items{
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

}

.login-tag-title{
  position: absolute;
  top : 30px;
  left : 40px;
  font-size: 17px;
}

.login-background{
  // background-image: url("/assets/svgs/login_backdrop.svg");

  background-color: orange;

  width: 50%;
  height: 100%;
 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-background .sb_tag{
  width: 90px;
  height: 90px;

  position: absolute;
  right : 10px;
  top: 10px;
}

.login-background .it_can_be{

  width :80%;
  height : fit-content;

  position: absolute;
  left: -10px;
  bottom: 10px;

}

.login-btn{

  color: white;
  width: 200px;
  height : 50px;
  background: linear-gradient(93.67deg, #FFB81D 1.23%, #FF681D 58.64%);
  border-radius: 12px;

margin-top: 20px;

 box-shadow: none;
}

.login-btn:disabled{

  color: #5C6C80;
  background-color: #E3E6EA;
  background: #E3E6EA

}
.login_form_header_container{
  display: flex;
  flex-direction: column;
  // align-items : flex-end;

  margin-bottom: 30px;
}
.login_form_group{


}

.login_form_header{
  font-size: 36px;
  line-height : 2.8rem;
  
  margin: 0;
}

.login_form_subheader{
  font-size: 12px;
  color : #0162EC;

  font-weight: bolder;
  font-style: italic;

  text-align: right;
}

button.sso{
border-radius: 12px;
  font-family: 'Avenir Next';
  font-size: 1rem;
  padding: .5rem 3rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F1511B, #80CC28,#00ADEF,#FBBC09);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

button.sso section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  letter-spacing: 1.1px;
  text-transform: capitalize;
}

button.sso section img{
  margin-right: 15px;
}
button.sso:active{
  background-color: transparent;
    background: transparent;
    box-shadow: none;

}

button.sso:active{
  background-color: transparent;
  background: transparent;
  box-shadow: none;

}

button.sso:active{
  background-color: transparent;
  background: transparent;
  box-shadow: none;

}

// .login-btn:disabled{
//   background-color: blue;
// }

::ng-deep button::disabled{
  color: white
}


// MAT FORM FIELD  CSS
// mat-icon-stepper selected color change 
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: red!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #5C6C80   !important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #0062E1 !important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: #DC0A0A !important;
  opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: red!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: #DC0A0A !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: #5C6C80   !important;
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #0033AA   !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red!important;
}