<section class="main-login-container">

  <section class="main-login-items ">

    <p class="login-tag-title">Evaluation and Insurance</p>


    <section >

      <section class="login_form_header_container">
        <h5 class="login_form_header">Welcome, <br />
          Sign in to get started</h5>
          <span class="login_form_subheader">IT CAN BE</span>
  
      </section>
     
        <form [formGroup]="loginFormGroup" (submit)="login()" class="login_form_group">
          <mat-form-field appearance="outline" [style.width.px]=327>
            <mat-label>SAP ID</mat-label>
            <input name="username" formControlName="username" [(ngModel)]="loginData.username" matInput placeholder="SAP ID">
            <mat-error><mat-icon>error</mat-icon> &nbsp;SAP ID is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" [style.width.px]=327>
            <mat-label>Password</mat-label>
            <input name="password" formControlName="password" [(ngModel)]="loginData.password" matInput type="password" placeholder="Password">
            <mat-error><mat-icon>error</mat-icon> &nbsp;Password is required</mat-error>
          </mat-form-field>
          <br>

          <ng-container>
        
          <button 
        
           *ngIf="!loader else loginProgress" (click)="login()"
           [disabled]="loginFormGroup.valid" type="submit" class="login-btn" mat-raised-button>SIGN IN</button>
        </ng-container>
        </form>
  
    </section>

  </section>


  <section [style.backgroundImage]="'url('+assetUrl+'/assets/svgs/login_backdrop.svg)'" class="main-login-items login-background">

    <img  [src]="assetUrl+'/assets/svg/bank_logo.svg'" class="sb_tag" srcset="">
    <img  [src]="assetUrl+'/assets/svg/banner_sv.svg'" class="it_can_be" srcset="">

  </section>

</section>


<ng-template #loginProgress>
  <div class="loginProgress">
    <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>
  </div>
</ng-template>