<app-dashboard-header></app-dashboard-header>
<div class="container">
  <div class="title">SELECT AN APPLICATION TO CONTINUE</div>
  <div class="button-container">
    <a class="square-link" routerLink="/dashboard/app/evaluation">
      <div class="square-button">
        <div class="inner-box purple">
          <img src="assets/svg/icn_vehicle_car_hand.svg" alt="Purple Icon" class="svg-icon" />
        </div>
        <div class="button-label">VALUATION</div>
      </div>
    </a>
    <a class="square-link" href="/dashboard/app/insurance">
      <div class="square-button">
        <div class="inner-box green">
          <img src="assets/svg/icn_document_tax.svg" alt="Green Icon" class="svg-icon" />
        </div>
        <div class="button-label">INSURANCE</div>
      </div>
    </a>
  </div>
</div>
