<h3 class="head-text">New Request</h3>


<mat-card class="custom-card">
    <mat-card-header>
        <mat-card-title class="mat-card-title">Fill in the details of the charge request.</mat-card-title>
    </mat-card-header>

    <mat-card-content class="form-content">

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="form1-but">
        <button class="form1-button" mat-raised-button color="white" mat-button>
            Cancel
        </button>
        
        <button  class="form1-button" mat-raised-button color="primary" mat-button>
            Submit
        </button>
    </mat-card-actions>
</mat-card>

