.left-sidebar {
    width: 180px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .dash-side-button {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 20px;
  }

  .dash-side-button:hover {
    background: linear-gradient(93.67deg, #FFB81D 1.23%, #FF681D 58.64%);

    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    }

  .sidebar-header {
    width: 100%;
  }
  
  .divider {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 10px 0;
    margin-bottom: 40px;
  }
  
  .sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .sidebar-button {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .sidebar-button:hover {
    background: linear-gradient(93.67deg, #FFB81D 1.23%, #FF681D 58.64%);
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    }

  .button-icon {
    width: 24px;
    height: 24px;
  }
  
  .button-name {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
  }
  