
<div class="left-sidebar">
    <div class="sidebar-header">

      <div class="dash-side-button">
        <div class="button-icon">
          <img src="assets/svg/dash-icn.svg" alt="Dashboard Icon" />
        </div>
        <div class="button-name">Dashboard</div>
      </div>
    <div class="divider"></div>
    <div class="sidebar-buttons">
      <div class="sidebar-button">
        <div class="button-icon">
          <img src="assets/svg/icn_approved.svg" alt="Current Icon" />
        </div>
        <div class="button-name">Current</div>
      </div>
      <div class="sidebar-button">
        <div class="button-icon">
          <img src="assets/svg/icn_people_1_fail.svg" alt="Expired Icon" />
        </div>
        <div class="button-name">Expired</div>
      </div>
      <div class="sidebar-button">
        <div class="button-icon">
          <img src="assets/svg/icn_check_circle.svg" alt="Completed Icon" />
        </div>
        <div class="button-name">Completed</div>
      </div>
    </div>
  </div>
